<!--Nav Bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Scrape</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
    </ul>
    <span class="navbar-text">
    </span>
  </div>
</nav>
<!--End Nav-->

<div class="bg">
  <div class="jumbotron-fluid">
    <div class="row">
      <div class="col-6 title">
        <h1>Saved Articles</h1>
        <p>Your Saved News</p>
      </div>

    </div>
  </div>
</div>


<div class="container-fluid article-container">
  <div class="row">
    {{#each articles}}
    <div class="card card-article border-success m-2">
      <div class="card-body article-body">
        <h6>
          <a class="article-link" href="{{link}}" target="_blank">{{title}}</a>
        </h6>
        <span class="article-summary">{{summary}}</span>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">
            <a class="btn btn-outline-danger btn-sm save delete" data-id="{{_id}}">Delete</a>
          </div>
          <div class="col-6">
            <button class="btn btn-outline-success btn-sm comment" data-id="{{_id}}">Add Comment</button>
          </div>
        </div>
      </div>

    </div>
    {{/each}}
  </div>
</div>

<!--Modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="commentModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" data-id="{{_id}}">Add a Comment On: {{{id}}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card border-0">
          <div class="card-body" id="comments">

          </div>
        </div>
        <hr>
        <div class="card border-0" id="comment-input">
          <form class="form-comment">
            <div class="form-group">
              <label for="CommentSubject">Subject</label>
              <input type="text" class="form-control" id="comment-title" aria-describedby="CommentSubject"
                placeholder="Title">
            </div>
            <div class="form-group">
              <label for="CommentText">Password</label>
              <input type="text" class="form-control" id="comment-body" placeholder="Add your comment...">
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Modal-->

<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="./assets/js/app.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>